<!DOCTYPE html>
<html lang="ko">

<head>
<title>게시판</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
<h2>글 목록</h2>

<a href="/insert">글쓰기</a>
<br>
<br>

<table class="table table-striped">
<thead>
<tr>
<th>글 번호</th>
<th>제목</th>
<th>내용</th>
<th>날짜</th>
<th>수정</th>
<th>삭제</th>
</tr>
</thead>
<tbody>

<% data.forEach(function (item,index){ %>
<tr>
<td>
<%= item.id %>
</td>
<td>
<a href='/detail/<%= item.id %>'><%= item.title %></a>
</td>
<td>
<%= item.contents %>
</td>
<td>
    <%= item.created_at.toLocaleDateString()%> &nbsp; <%= item.updated_at.toLocaleTimeString()%>  
    <!-- SET time_zone = 'Asia/Seoul'; db에 쿼리문으로 한국시간 조정 -->
</td>
<td>
<a href="/edit/<%= item.id %>">수정</a>
</td>
<td>
<a href="/delete/<%= item.id %>">삭제</a>
</td>
</tr>
<% })%>
</tbody>
</table>
</div>


<br>
<br>


<div class="container">
<ul class="pager">



<%
var curSet = list.curSet
var endPage = list.endPage
var startPage = list.startPage
var totalSet = list.totalSet
var totalPage = list.totalPage
var page_list_size = list.page_list_size
var page_size = list.page_size
var curPage = list.curPage
%>


<%
if(curSet > 1){
%>

<li value=(startPage -1) class="previous">
<a href='/list/<%= ( startPage - 1) %>'>이전페이지</a>
</li>

<%
}
%>


<%
for(var i = startPage; i <= endPage; i++){
if(i > totalPage){break;}

if(i == curPage){
%>
<li value=<%= i %> class='' >
<a href='/list/<%= i %>'>
<%= i %>
</a>
</li>

<%
}else{
%>

<li value=<%= i %> class='active' >
<a href='/list/<%= i %>'>
<%= i %>
</a>
</li>


<%
}
%>

<%
}
%>

<%
if(curSet < totalSet){
%>
<li value=( endPage + 1) class="next">
<a href='/list/<%= ( endPage + 1) %>'>다음페이지</a>
</li>
<%
}
%>

</ul>
</div>

<br>
<br>

</body>

</html>